.baf-data-table ::deep.mud-table-row:hover {
    cursor: pointer;
}

.baf-data-table ::deep.row-action-buttons .mud-icon-button {
    opacity: 0.4;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
}

.baf-data-table ::deep.mud-table-row:hover .row-action-buttons .mud-icon-button {
    opacity: 1;
    pointer-events: auto;
}
